html{
   /* background: url(https://images.unsplash.com/photo-1680849219172-71e4f632b282?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80) no-repeat center fixed; 
    background-size: cover;*/
 font: 24px ;
}

body{
    background-color:aqua;
    color: black;
}
a{
    color:#af2598
}
a:visited {
color:rgb(150, 31, 31)
}
a:hover, a:active{
    color:rgb(231, 146, 34)
}
td, th {
  width: 50%;  
  border: 1px solid #999;
  padding: 0.5rem;
  }
table {
  width: 100%; 
  border-collapse: separate;
}
input[type="text"]{
width: 150px;
  display: block;
  margin-bottom: 10px;
  background-color: gold;
  color:black;
}
input[type="tel"]{
    width: 120px;
    margin-left: 35px;
    display: block;
    background-color: azure;

  }
  /*.hero-image {
    background: src="img/img author.jpg" no-repeat center; 
    background-size: cover;
    height: 500px;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }*/
  